.home {
    position: relative;
    text-align: center;
    color: black;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #E1B3EB 0%, #ecc7f5 20%, #ffffff 100%);
    font-family: 'Inknut Antiqua', serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    box-sizing: border-box;
}

.hero-text {
    flex: 1;
    text-align: left;
    padding-right: 40px;
}

.hero-title {
    font-size: 75px;
    font-weight: bold;
    line-height: 1.8;
}

.highlight {
    color: #661f99;
}

.hero-subtitle {
    font-size: 20px;
    margin-top: 10px;
}

.get-started-button {
    background-color: #6a0dad;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.get-started-button:hover {
    opacity: 0.7;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 50%;
    height: auto;
    max-width: 700px;
    padding-left: 20px;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 20px;
    opacity: 0.5;
    box-shadow: 0 4px 15px rgba(101, 97, 97, 0.2);
}

.custom-shape-divider-bottom-1729087018 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1729087018 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1729087018 .shape-fill {
    fill: #E1B3EB;
}

@media (max-width: 767px) {
    .hero-section {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    .hero-image {
        display: none;
    }

    .hero-text {
        margin-right: 0;
        padding-right: 0;
    }
    .hero-title{
        font-size: 30px;
    }

    .get-started-button {
        margin-top: 15px;
    }

    .custom-shape-divider-bottom-1729087018 svg {
        width: calc(100% + 1.3px);
        height: 90px;
    }
}
