.signup{
    background-color: #af62ee;
    font-family: 'Inknut Antiqua', serif;
    font-size: 20px;
    padding-top: 60px;
    max-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0;

}
.text {
    color:whitesmoke;
    margin-left: 200px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.heading-line {
    width: 30%; /* Set the width of the line */
    height: 2px; /* Thickness of the line */
    background: linear-gradient(to right, rgb(207, 134, 221) 0%, whitesmoke 70%, rgba(106, 0, 218, 0) 100%); /* Gradient from thick to thin */
    margin: 10px 10px; /* Center the line */
}
.line {
    margin-left: 200px;
    width: 400px;
}
h2 {
    font-size: 48px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  
  input[type="email"] {
    padding: 5px;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 15px;
    width: 500px;
    font-family: 'Inknut Antiqua', serif;

  }
  
  button[type="submit"] {
    background-color: #280947;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    width: 500px;
    cursor: pointer;
    font-family: 'Inknut Antiqua', serif;
  }
  
  button[type="submit"]:hover {
    background-color: #5c3c8e;
  }
.card-image {
  /* Add your desired styles for the icon here */
  width: 100px; /* Example width */
  height: 100px; /* Example height */
  color: #000; /* Example color */
}

/* Responsive styles */
@media (max-width: 768px) {
  .signup {
      flex-direction: column; /* Arrange elements vertically */
      padding: 20px; /* Adjust padding for smaller screens */
  }

  .icon{
    display: none;
  }
  .text {
      margin-left: 0; /* Center the text */
      margin-bottom: -90px; /* Add spacing below the text */
      font-size: 16px; /* Reduce text size */
  }

  h2 {
      font-size: 22px; /* Reduce heading size */
  }

  .line {
      margin-left: 0; /* Center the line */
      width: 90%; /* Adjust width to fit smaller screens */
  }

  input[type="email"] {
      width: 90%; /* Adjust width to fit smaller screens */
      max-width: 400px; /* Maintain a maximum width */
      font-size: 13px; /* Reduce font size for input text */
      padding: 2px; /* Adjust padding */
  }

  button[type="submit"] {
      width: 90%; /* Adjust width to fit smaller screens */
      max-width: 400px; /* Maintain a maximum width */
      font-size: 13px; /* Reduce font size for button text */
      padding: 4px; /* Adjust padding */
      margin-top: -10px;
  }
  form {
    margin-top: 85px; /* Increase the space between heading and form */
}

}

