.why-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent; /* Fully transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(252, 250, 250, 0.1);
    font-family: 'Inknut Antiqua', serif;
}

.text-card {
    width: 70%;
    text-align: center;
}

.image {
    width: 30%;
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 600px;
}
p{
    color: #4d0581;
    font-size: 20px;
}
